body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* **********common style************ */
.w-50{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}


/* **********common style end********** */
.name-highlight{
    color: orange;
}
h1{
    font-size: 50px;
}
.w-50 img{
    width: 100%;
}
